/.dotnet-home
/api/PaymentOrchestrator.Api/obj
/api/PaymentOrchestrator.Api/bin
/api/PaymentOrchestrator.Domain/obj
/api/PaymentOrchestrator.Domain/bin
/api/PaymentOrchestrator.Infrastructure/obj
/api/PaymentOrchestrator.Infrastructure/bin
/api/PaymentOrchestrator.Application/obj
/api/PaymentOrchestrator.Application/bin
/api/FastPay.Api/obj
/api/FastPay.Api/bin
/api/SecurePay.Api/obj
/api/SecurePay.Api/bin
/api/PaymentOrchestrator.Tests/obj
/api/PaymentOrchestrator.Tests/bin
/api/Payment.Orchestrator.UnitTests/obj
/api/Payment.Orchestrator.UnitTests/bin
/.serena
/.build
/.vs
/api/.vs
/api/build-api.log
*.csproj.user
api/PaymentOrchestrator.Api/appsettings.json
api/PaymentOrchestrator.Api/appsettings.Development.json
